body {
    font-family: "Inter", sans-serif;
    background-color: #F0FDF4;
}

.body-bg {
    background-color: #F0FDF4;
}

.primary-bg {
    background-color: #15803D;
}

.primary-color {
    color: #15803D;
}

.secondary-bg {
    background-color: #FACC15;
}

.secondary-color {
    color: #FACC15;
}

.dark-color {
    color: #1F2937;
}

.menu a {
    font-size: 1rem;
}

.menu a:hover {
    background: transparent;
    color: #FACC15;
}

.active {
    background-color: #15803D;
    color: #FFF;
}